<div id="userInfo" class="show">
  <form>
    <div class="from-group">
      <label id="emailLabel"for="usernameField">email: </label><span id="resetbtn" class="float-right hide"><button class="btn btn-sm btn-danger">reset Password</button></span>
        <input  type="email" id="usernameField" class="form-control inputs" required name="username" [(ngModel)]="user.email">  
        <label id="passwordLabel" for="passwordField">password:</label>
        <input type="password" id="passwordField" class="form-control inputs" required name="password" [(ngModel)] = "user.password">
       <div id="loginbtn" class="show"> <button   class="btn btn-warning float-right" (click)="login()">login</button></div>
        <div id="registerbtn" class="show"><button class="btn btn-info float-right" (click)="register()">register</button></div>
        <div id="updatebtn" class="hide"><button class="btn btn-warning float-right" (click)="updateInfo()">update</button></div>
    </div>
  </form>
  </div>
