#userInfo{
    background-color:#fcf7f2;
    height:99%;
    width:312%;
    margin: 2px;
}

#loginbtn{
    margin-right:10px;
    margin-bottom: 10px;
}

#registerbtn{
    margin-right:10px;
    margin-bottom: 10px;
}

.inputs{ 
    margin:5%;
margin-top:0;
  width:90%;
 

}