


  <div class="col-sm-8" id="left">
      <app-main-chat></app-main-chat>
      <app-user-info></app-user-info>
  </div>   

  <div class="col-sm-4" id="right">
      <app-guest-list></app-guest-list>
      <app-private-message></app-private-message>
 </div>


<!-- 
<div class="containers">



  <div class="" id="toprow">
  <div class="col-sm-8 border border-primary float-left"  id="chatroom"><div></div><app-main-chat></app-main-chat></div>
  <div class="col-sm-4 border border-secondary float-right" id="friends"><app-guest-list></app-guest-list></div>
</div>
<div class="row">
   <div class="col-sm-8" id="myInfo"><app-user-info></app-user-info></div>
  <div class="col-sm-4" id="privateMessage"><app-private-message></app-private-message></div>
</div></div> -->
